/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@perfectmemory/ngx-contextmenu/src/assets/stylesheets/base.scss';


@import 'src/app/third-party/fullcalendar/calendar-fullcalendar/fullcalendar-custom.scss';

/* Full Calendar 6 */
/*
.fc-day-sun a {       // Sunday Header, Cell Text
  color: red;
}
.fc-day-sat a {       // Saterday Header, Cell Text
  color: blue;
}

.fc-day-cell-holiday {
  .fc-daygrid-day-number {
    color:red;
  }
}
*/
